<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">

    <title>Homework 11:  Mars Data Dashboard</title>

    <!-- Bootstrap CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Internal CSS Stylesheet -->
    <link rel="stylesheet" type="text/css" href="./styles/stylesheet.css">
</head>
<body>

    <div class='container'>
        <div class="jumbotron">
            <h1 class="display-3">Let's Go To Mars!</h1>
                <p class="lead">This is a dashboard that will scrape mars-realted data from various pages around the Internets.</p>

                <hr class="my-4">

                <p>Go ahead and try it out.  It's pretty cool!</p>

                <p class="lead">
                    <a class="btn btn-primary btn-lg" href="#" role="button">Show New Data</a>
                </p>

        </div>
    </div>

    <hr>

<div class='container'>
    <center>
        <h1>Featured Mars Image</h1>
    </center>
    <img src="{{featuredImage}}" class="img-fluid">
</div>

    <center>
        <h1>Mars Hemisperes</h1>
    </center>

    <hr>

        <center><div class='container'>
            <div class="row">

              <div class="col-md-6">
                <div class="card" style="width: 20rem;">
                  <img class="card-img-top" src="{{hemiImage1Url}}" alt="Card image cap">
                  <div class="card-block">
                    <h4 class="card-title">{{hemiImage1}}</h4>
                  </div>
                </div>

              </div>

              <div class="col-md-6">
                <div class="card" style="width: 20rem;">
                  <img class="card-img-top" src="{{hemiImage2Url}}" alt="Card image cap">
                  <div class="card-block">
                    <h4 class="card-title">{{hemiImage2}}</h4>
                  </div>
                </div>
              </div>

            </div>

            <div class="row">

               <div class="col-md-6">
                <div class="card" style="width: 20rem;">
                  <img class="card-img-top" src="{{hemiImage3Url}}" alt="Card image cap">
                  <div class="card-block">
                    <h4 class="card-title">{{hemiImage3}}</h4>
                  </div>
                </div>
               </div>

               <div class="col-md-6">
                <div class="card" style="width: 20rem;">
                  <img class="card-img-top" src="{{hemiImage4Url}}" alt="Card image cap">
                  <div class="card-block">
                    <h4 class="card-title">{{hemiImage4}}</h4>
                  </div>
                </div>
               </div>
             </div>

        </div>

      </div>
  </center>

  <hr>

    <div class='container'>
        <center><h1>Mars Weather and Data</h1></center>
        <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <center>{{weather}}</center>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <center>{{htmlTable}}</center>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap Scripts -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>
