<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">

    <title>Homework 11:  Mars Data Dashboard</title>

    <!-- Bootstrap CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Internal CSS Stylesheet -->
    <link rel="stylesheet" type="text/css" href="./styles/stylesheet.css">
</head>
<body>
    <!-- News headline -->
    <h1>{{headline}} </h1>

    <!-- Teaser copy -->
    <p>
        {{teaser}}
    </p>

    <!-- Featured Image -->
    <img src="{{featuredImage}}">

    <!-- HTML Table -->
    <!-- {{htmlTable}} -->

    <!-- Mars Hemisphere Image 1 -->
    <h2>{{hemiImage1}} </h2>
    <img src="{{hemiImage1Url}}">

    <!-- Mars Hemisphere Image 2 -->
    <h2>{{hemiImage2}} </h2>
    <img src="{{hemiImage2Url}}">

    <!-- Mars Hemisphere Image 3 -->
    <h2>{{hemiImage3}} </h2>
    <img src="{{hemiImage3Url}}">

    <!-- Mars Hemisphere Image 4 -->
    <h2>{{hemiImage3}} </h2>
    <img src="{{hemiImage3Url}}">


    <!-- Bootstrap Scripts -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>
